*.meta
*.csproj
*.sln
*.user
*.pidb
*.unitproj
.vs/
Build/
Obj/

GBufferExtractorBuiltIn/Library
GBufferExtractorBuiltIn/Logs
GBufferExtractorBuiltIn/Temp
GBufferExtractorBuiltIn/UserSettings
GBufferExtractorBuiltIn/.vsconfig
GBufferExtractorBuiltIn/UpgradeLog.htm

BepInExBuiltIn/bin